[package]
name = "proxyboi"
version = "0.4.5-alpha.0"
description = "A super simple reverse proxy with TLS support"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>"]
repository = "https://github.com/svenstaro/proxyboi"
license = "MIT"
readme = "README.md"
keywords = ["reverse-proxy", "proxy", "https", "ssl", "tls"]
categories = ["command-line-utilities", "network-programming"]
edition = "2018"

[badges]
travis-ci = { repository = "svenstaro/proxyboi", branch = "master" }
maintenance = { status = "actively-developed" }

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
actix-web = { version= "1.0", features = ["rust-tls"] }
actix-service = "0.4"
actix-http = "1.0"
simplelog = "0.8"
log = "0.4"
futures = "0.1.29"
chrono = "0.4"
structopt = "0.3"
url = "2.1"
pretty_assertions = "0.6"
yansi = "0.5"
Inflector = "0.11"
webpki = "0.19"

[dependencies.rustls]
version = "0.15"
features = ["dangerous_configuration"]
